table,
th,
td {
    border: 3px solid white;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 168px;
}

td {
    table-layout: fixe d;
    width: 48px;
    height: 56px;
    padding-left: 8px;
}